@import "../../stylesheets/variables/_all";
@import "../../stylesheets/variables/video";

$content-order: 2;
$before-content-order: 1;
$after-content-order: 3;

.cursorGrab {
  cursor: grab;
}

.cursorGrabbing {
  cursor: grabbing;
}

%container {
  order: 1;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.container {
  @extend %container;
  flex-direction: column;
}

.content {
  display: flex;
  align-self: stretch;
  flex: 3;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  position: relative;
  order: $content-order;
}

%overlay {
  display: flex;
  border: 0;
  z-index: 2;
  align-items: center;
  min-height: var(--video-height);
  max-height: 100%;
  // height: 100%;
  height: 200px;

  position: relative !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

.overlay {
  @extend %overlay;
}

.overlayToTop {
  order: $before-content-order !important;
}

.overlayToBottom {
  order: $after-content-order !important;
}

.hideOverlay {
  position: absolute !important;
}

.floatingOverlay {
  @extend %overlay;
  top: 0;
  left: 0;

  z-index: 2;
  position: absolute !important;
  min-width: calc(var(--video-height) * var(--video-ratio)) !important;
  min-height: var(--video-height) !important;
}

.autoWidth {
  min-width: calc(var(--video-height) * var(--video-ratio)) !important;
  max-width: 100%;
}

.fullWidth {
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100%;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.dragging {
  opacity: .5 !important;
}

%dropZone {
  border: 1px dashed var(--color-gray-light);
  position: absolute;
  z-index: 9999;
}

%dropZoneTopBottom {
  @extend %dropZone;
  width: 100%;

  &:hover {
    background-color: rgba(255, 255, 255, .3);
  }
}

%dropZoneBg {
  z-index: 99;
  width: 100%;
  height: 100%;
}

%dropZoneBgTopBottom {
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .3);

  &:hover {
    background-color: rgba(255, 255, 255, .3);
  }
}

.dropZoneTop {
  @extend %dropZoneTopBottom;
  top: 0;
}

.dropZoneBottom {
  @extend %dropZoneTopBottom;
  bottom: 0;
}

.dropZoneBgTop {
  @extend %dropZoneBg;
  top: 0;
}

.dropZoneBgBottom {
  @extend %dropZoneBg;
  bottom: 0;
}

.resizable {
  width: 100% !important;
}


span[class^=resizeWrapper] {
  div {
    height: 15px !important;
    z-index: 1;
    bottom: -10px !important;
  }
}