@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/stylesheets/mixins/focus";
@import "/imports/ui/stylesheets/mixins/_indicators";
@import "/imports/ui/components/modal/simple/styles";


:root {
    --poll-column-amount: 2;
    --poll-blue: #1A73D4;
    --poll-header-offset: -0.875rem;
}
.container{
    background-color: white;
    padding: 15px;
    overflow:scroll;
    height: 600px;
}

.polls
.closeBtn {
    position: relative;
	> i {
        color: var(--color-text);
	}
}

.btn {
    margin-top: var(--sm-padding-y);
    margin-bottom: var(--sm-padding-y);
}

.hideBtn {
    position: relative;
    background-color: var(--color-white);
    display: block;
    margin: var(--border-size-large);
    margin-bottom: var(--border-size);
    padding-left: 0;
    padding-right: inherit;

    [dir="rtl"] & {
      padding-left: inherit;
      padding-right: 0;
    }

    > i {
        color: var(--color-gray-dark);
        font-size: smaller;

        [dir="rtl"] & {
            -webkit-transform: scale(-1, 1);
            -moz-transform: scale(-1, 1);
            -ms-transform: scale(-1, 1);
            -o-transform: scale(-1, 1);
            transform: scale(-1, 1);
        }
    }

    &:hover {
        background-color: var(--color-white);
    }
  }

.customBtn {
    width: 100%;
}

.customInputWrapper {
  width: 100%;
  margin-top: var(--md-padding-y);
  
  > Button {
    width: 100%;
    margin-top: var(--sm-padding-y);
    margin-bottom: var(--sm-padding-y);
  }
}

.pollInput {
  > input {
    width: 100%;
    margin-top: var(--sm-padding-y);
    margin-bottom: var(--sm-padding-y);
  }

  > input::placeholder {
    color: var(--color-text);
    opacity: 1; /* Firefox */
  }
}

.header {
    position: relative;
    top: var(--poll-header-offset);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--md-padding-y);
}

.instructions {
    margin-top: var(--lg-padding-x);
    margin-bottom: var(--lg-padding-x);
    color: var(--color-text);
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--poll-column-amount), 1fr);

    > pollBtn:nth-child(odd) {
        grid-column: 1;
    }

    > pollBtn:nth-child(even) {
        grid-column: var(--poll-column-amount);
    }
}

.grid2{
    display: grid;
    grid-template-columns: repeat(var(--poll-column-amount), 1fr);
    padding-bottom: 10px;

}
.pollBtn:nth-child(even) {
    margin-right: inherit;
    margin-left: var(--sm-padding-y);

    [dir="rtl"] & {
        margin-right: var(--sm-padding-y);
        margin-left: inherit;
    }
}

.pollBtn:nth-child(odd) {
    margin-right: var(--sm-padding-y);
    margin-left: inherit;

    [dir="rtl"] & {
        margin-right: inherit;
        margin-left: var(--sm-padding-y);
    }
}

.customBtn:hover,
.pollBtn:hover {
    box-shadow: 0 0 0 1px var(--poll-blue);
    background-color: var(--color-white);
    color: var(--poll-blue);

    > span {
        color: var(--poll-blue);
        opacity: 1;
    }
}

.customBtn,
.pollBtn {
    margin-top: var(--sm-padding-y);
    margin-bottom: var(--sm-padding-y);
    background-color: var(--color-white);
    box-shadow: 0 0 0 1px var(--color-gray);
    color: var(--color-gray);

    > span {
        color: var(--color-gray);
    }

    > span:hover {
        color: var(--poll-blue);
        opacity: 1;
    }
}

.customBtn:active,
.pollBtn:active {
    &:focus {
        box-shadow: 0 0 0 1px var(--poll-blue);
    }

    background-color: var(--color-white);
    box-shadow: 0 0 0 1px var(--poll-blue);

    > span {
        color: var(--poll-blue);
    }
}

.customBtn:focus,
.pollBtn:focus {
    background-color: var(--color-white);
    box-shadow: 0 0 0 1px var(--poll-blue);

    > span {
        color: var(--poll-blue);
    }
}

.input {
    @include inputFocus(var(--color-blue-light));
 
    &:hover,
    &:focus {
        @include highContrastOutline();
    }

    &:focus {
        outline-style: solid !important;
    }
    
    margin: 0;
    color: var(--color-text);
    background: var(--color-white);
    font-size: var(--font-size-small);
    border: 1px solid var(--color-gray-lighter);
    border-radius: var(--border-radius);
    padding: .3rem * 1 .3rem * 0.25;
    padding-left: var(--lg-padding-y);

    [dir="rtl"] & {
    	padding: .3rem * 1 .3rem * 0.25;
        padding-right:var(--lg-padding-y);
    }
}
.inputHeader {
   @extend .input;
   width:100%;
   padding:1rem;
}
.noSlidePanelContainer {
    color: var(--color-gray-drak);
    text-align: center;
}

.overlay {
  @extend .overlay;
}

.modal {
  @extend .modal;
  padding: 1.5rem;
//   min-height: 23rem;
}

.select {
//   background-color: var(--color-white);
//   border-radius: 0.3rem;
//   color: var(--color-gray-label);
//   margin-top: 0.4rem;
//   width: 100%;
//   margin-bottom: 0.4rem;
//   box-shadow: 0 0 0 1px var(--color-gray);
//   color: var(--color-gray);
//   padding: 0.2rem;
@extend .input;
}
.grade {
    @extend .input;
    margin-left: 0.1rem;
}
.selectGrid{
    @extend .grid;
    width: 100%;
    overflow:visible;
}
.freeJoinCheckbox {
    display: block;
    width: 1rem;
    height: 1rem;
  }

  .checkBoxesContainer {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  
  .freeJoinLabel {
    display: flex;
    align-items: center;
    font-size: var(--font-size-small);
    & > * {
      margin: 0 .5rem 0 0;
  
      [dir="rtl"] & {
        margin: 0 0 0 .5rem;
      }
    }
  }